$color_header:#002F34;
$color_arava:#FFCE32;
$color_kalit:#3A77FF;
$color_hover:#7F9799;
$color_pushti:#FFD6C9;
$color_body:#F2F4F5;
$color_arava2:#23E6DC;
$color_arava3:#FD5832;
$color_arava4:#FFF5DA;
$color_arava5:#CEDDFE;
$color_arava6:#C3F4F1;
$color_arava7:#C3F4F1;
$color_arava8:#DDB52E;
$color_arava9:#D0FF00;
$color_arava10:#3AE2CE;
$color_arava11:#B34EE9;
$color_footer1:#CBF7EE;